body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.canvas {
    width: 500px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.canvas canvas {
    width: 100%;
    height: 100%;
}